<form action="/signin" method="post">
    <label> email </label>
    <input type="text" name="email">
    <label> password </label>
    <input type="password" name="password">
    <button type="submit"> Sign In </button>
</form>


<style>
    form {
        margin: 100px 400px;
        padding: 30px;
        height: 50vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    input {
        height: 2rem;
        outline: none;
    }

    button {
        padding: 0.5rem;
        font-weight: bold;
    }
</style>